.App {
  text-align: center;
  position: relative;
  height:100%;
}

html, #root{
  height:100%;
}

body {
  height:100%;
  margin: 0px;
}

.HowToBackground {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.MainMenu {
  display:flex;
  place-items: center;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.HowTo {
  width:33%;
  margin:auto;
  margin-top:128px;
  border-radius: 16px;
  background-color: white;
  text-align: left;
}

.HowTo > button {
  margin:auto;
  display:flex;
  margin-top:20px;
}

.HelpButton {
  position: absolute !important;
  left:16px;
}

.GiveUpButton {
  position: absolute !important;
  right:16px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.WordBox {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.WordBoxHolder {
  outline-style: dotted;
  border-radius: 10px;
  padding:32px;
}

.SolutionBoxHolder {
  display:flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.ScoreArea {
  margin-top:32px;
  font-weight: bolder;
}

.AutoSubmitInstructions {
  font-style: italic;
  color:grey;
  margin-bottom: 8px;
  font-size: x-small;
}

@media only screen and (max-width: 800px) {
  
  input {
    width:66%;
  }

  .Logo {
    font-size: x-large!important;
  }

  .SolutionBox {  
    width: 90%!important;
    padding: 0!important;
  }

  .HowTo {
    width: 90%!important;
  }

}

.Pinned {
  position: fixed;
  bottom: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  width:100%;
  outline:1px solid rgba(27, 31, 35, 0.15);
}

.ShareButton {
  margin-bottom:32px;
}


.SolutionBox {  
  width: 33%;
  padding: 8px;
  margin:auto;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: x-large;
  margin-top: 16px;
  margin-bottom: 16px;
}

.Logo {
  font-size: xx-large;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.Logo > span {
  padding-top:3px;
  padding-bottom:3px;
}

.WordIs {
  font-size: x-small;
  margin-bottom: -15px;
  font-style:italic;
  color:grey;
}

.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.green-button {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 12px 20px;
  color:white;
  font-size: larger;
  font-weight: bold;
  background-color: #17c551!important;
}

.hidden {
  display:none!important;
}

.TimeSpent {
  margin-bottom: 8px;
  font-size: small;
  font-style: italic;
}

.InputArea {
  display:flex;
  margin:auto;
  place-content: center;
  gap:8px;
}

.red-button {
  color:white;
  font-weight:bold;
  background-color: #d23333!important;
}

.red-button:hover {
  background-color: #ae2727!important;
}

.red-button:active {
  background-color: #9e2222!important;
}


.green-button:hover {
  background-color: #27ae54!important;
}

.green-button:active {
  background-color: #229e4c!important;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.fade-in{
  opacity:1;
  transition: opacity 0.25s 0.25s;
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}